TESTMAIL_APP_NAMESPACE=your_namespace
TESTMAIL_APP_API_KEY=your_api_key
TEST_ACCOUNT=your_tpet_account
TEST_PASSWORD=your_tpet_password
SEND_EMAIL_API_ENDPOINT=https://your-email-service-api.com/send-email
LOGIN_API_ENDPOINT=https://your-auth-service-api.com/login
TEMPLATE_FILE_ID=your_template_file_id
ATTACHMENT_FILE_IDS=file_id1
